:root {
    --background: #ffffff;
    --text-color: #000000;
    --input-bg: #ffffff;
    --td-color: #ffffff;
  }
  
  [data-theme='dark'] {
    --background: #000000;
    --text-color: #ffffff;
    --input-bg: #000000;
    --td-color: #000000;
  }
  
  body {
    background-color: var(--background);
    color: var(--text-color);
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: var(--input-bg);
    color: var(--text-color);
  }
  
  td {
    background-color: var(--td-color);
    color: var(--text-color);
  }
  